* {
  box-sizing: border-box;
}

body {
  --text-container-height: 12vh;
  --text-container-color: rgb(31, 42, 61);
  --spacing: 0.25vw;
  margin: 0;
  height: 100vh;
}

.bar {
  display: inline-block;
  background-color: rgb(199, 228, 255);
  position: absolute;
  bottom: var(--text-container-height);
}

.text-container {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: var(--text-container-height);
  background-color: var(--text-container-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  place-items: center;
}

input,
button,
select {
  font-size: 1.5em;
  text-align: center;
  color: white;
  background-color: var(--text-container-color);
  appearance: none;
  border: none;
}

input:focus,
select:focus {
  outline: none;
}